@use 'src/theme' as T;

$common-box-shadow: 0 0 16px;

@mixin box-shadow($color: rgba(255, 255, 255, 0.5)) {
  box-shadow: 0 0 4px $color;

  @include T.breakpoint-min('tablet') {
    box-shadow: 0 0 8px $color;
  }

  @include T.breakpoint-min('desktop') {
    box-shadow: 0 0 16px $color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: T.$spacing-xs;

  &:hover,
  &:focus {
    outline: 0;

    > .card {
      @include box-shadow(rgba(255, 200, 0, 0.5));
    }

    img {
      filter: saturate(1);
      transform: scale(1.2);
    }

    > h5 {
      color: T.$color-yellow;
    }
  }
}

.card {
  color: T.$color-black;
  border-radius: 4px;
  @include box-shadow;

  border: 2px solid T.$color-black;
  position: relative;
  width: 112px;
  height: 192px;
  overflow: hidden;
  transition: box-shadow T.$base-transition;

  @include T.breakpoint-min('tablet') {
    width: 134px;
  }

  @include T.breakpoint-min('custom', 1200px) {
    width: 168px;
    height: 240px;
  }
}

.img {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  bottom: -15%;
  right: -25%;
  filter: saturate(0);

  @include T.breakpoint-min('tablet') {
    right: -10%;
  }

  @include T.breakpoint-min('custom', 1200px) {
    bottom: 0;
    right: 0;
  }
}

.title {
  transition: color T.$base-transition;
  color: T.$color-white;
  font-weight: T.$font-weight-medium;
  text-transform: uppercase;
  letter-spacing: T.$font-letter-spacing-sm;
  font-size: T.$font-size-xs;

  @include T.breakpoint-min('tablet') {
    font-size: T.$font-size-md;
  }

  @include T.breakpoint-min('desktop') {
    font-size: T.$font-size-lg;
  }
}
