@use 'src/theme' as T;

.container {
  color: T.$color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: T.$spacing-md;
  width: 80%;


  @include T.breakpoint-min('tablet') {
    width: 100%;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: T.$spacing-nano;
  }

  h3 {
    font-size: T.$font-size-md;
    font-weight: T.$font-weight-bold;
    text-align: center;

    @include T.breakpoint-min('tablet') {
      font-size: T.$font-size-lg;
    }
  }

  p {
    text-align: center;
  }
}
