@use 'src/theme' as T;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_text {
  margin-top: T.$spacing-giga;
  font-size: T.$font-size-lg;
  font-weight: T.$font-weight-medium;
  max-width: 526px;
  width: 100%;
  text-align: center;
  letter-spacing: 6px;

  > strong {
    font-weight: T.$font-weight-bold;
    color: T.$color-yellow;
  }
}

.categories {
  display: flex;
  margin-top: T.$spacing-mega;
  gap: T.$spacing-macro;
}
